        .container-principal {
            width: 1366px;
            height: 1701px;
            background: #FFFFFF;
        }
        
        .side-menu {
            position: absolute;
            width: 220px;
            left: 0px;
            top: 0px;
            bottom: 0px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        }
        
        .side-bar {
            display: flex;
            flex-direction: column;
            padding: 0px;
            position: absolute;
            height: 536px;
            left: 0%;
            right: 0%;
            top: 0px;
        }
        
        .header-slaca2019 {
            position: absolute;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
            height: 68px;
            width: 220px;
            background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
        }
        
        .slaca2019 {
            position: absolute;
            left: 9.09%;
            right: 10%;
            top: 0%;
            bottom: 0%;
            height: 68px;
            width: 178px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }
        
        .menu-image {
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
        }
        
        .menu-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 7px 24px;
            border: 1px solid #E7E7E7;
            left: 13.18%;
            right: 54.55%;
            top: 20%;
            bottom: 25.71%;
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: #725C5C;
        }
        
        .menu-item-is-active {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 7px 24px;
            border: 1px solid #E7E7E7;
            left: 13.18%;
            right: 54.55%;
            top: 20%;
            bottom: 25.71%;
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: #725C5C;
            border-left: 5px solid #ED7839;
            background-color: #FDF1EB;
        }
        
        .menu-header {
            position: absolute;
            width: 1146px;
            height: 68px;
            left: 0px;
            top: 0px;
            background: #FDF1EB;
        }
        
        .menu-header-titulo {
            position: absolute;
            width: 391px;
            height: 16px;
            left: 256px;
            top: 5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #725C5C;
        }
        
        .menu-header-subtitulo {
            position: absolute;
            width: 643px;
            height: 26px;
            left: 254px;
            top: 23px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: #725C5C;
        }
        
        .menu-header-issn {
            position: absolute;
            width: 105px;
            height: 16px;
            left: 256px;
            top: 48px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #725C5C
        }
        
        .menu-header-languagem-button {
            position: static;
            width: 99px;
            height: 44px;
            left: 889px;
            top: 13px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 3px;
        }
        
        .menu-header-linguagem-image {
            position: absolute;
            width: 22px;
            height: 21px;
            left: 798px;
            top: 37px;
            display: flex;
            align-items: left;
            justify-items: left;
        }
        
        .menu-header-linguagem {
            position: absolute;
            width: 42px;
            height: 18px;
            left: 899px;
            top: 40px;
            display: flex;
            align-items: center;
            justify-items: center;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
        }
        
        .dropdown {
            position: absolute;
            width: 6px;
            height: 4px;
            left: 990px;
            top: 33px;
            display: flex;
            align-items: center;
            justify-items: right;
            background: #333333;
            border: 1px solid #333333;
            align-items: flex-start;
        }
        
        .titulo-trabalho {
            position: relative;
            height: 54px;
            left: 252px;
            right: 73px;
            top: 40px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.05em;
            color: #ED7839;
            align-items: center;
            justify-content: flex-start;
        }
        
        .video-overlay {
            position: relative;
            width: 783px;
            height: 439px;
            left: 2px;
            top: 73px;
            background: rgba(141, 53, 6, 0.5);
            border-radius: 3px;
        }