        /*pagina*/
        
        body {
            margin: 0;
            padding: 0;
        }
        
        .container-principal {
            width: 1366px;
            height: 1701px;
            background: #FFFFFF;
            flex-direction: row;
            display: flex;
        }
        /*menu-lateral*/
        
        .side-bar {
            display: flex;
            flex-direction: column;
            padding: 0px;
            width: 220px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            flex-grow: 1;
            height: 100%;
        }
        
        .menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;
            font-size: 16px;
            background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }
        
        .menu-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 7px 24px;
            border: 1px solid #E7E7E7;
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: #725C5C;
        }
        
        .menu-item.border-none {
            border-top: none;
        }
        
        .menu-item.is-active {
            border-left: 5px solid #ED7839;
            background-color: #FDF1EB;
            padding-left: 19px;
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: #725C5C;
        }
        /*corpo*/
        
        .container {
            display: flex;
            width: 1146px;
            height: 100%;
            flex-direction: column;
        }
        /*header-corpo*/
        
        .container-header {
            display: flex;
            height: 68px;
            flex-direction: column;
            background-color: #FDF1EB;
            padding: 0px 36px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            color: #725C5C;
        }
        /*aux titulos header*/
        
        .text-small {
            font-size: 14px;
        }
        
        .text-medium {
            font-size: 22px;
        }
        /*row-header com linguagem e usuario*/
        
        .box-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
        .buttom-language {
            display: flex;
            flex-direction: row;
            width: 97px;
            height: 34px;
            left: 789px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 3px;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
        }
        
        .buttom-language>svg:first-child {
            width: 22px;
            height: 21px;
        }
        
        .buttom-language>svg {
            width: 6px;
            height: 4px;
        }
        
        .buttom-language>span:first-child {
            font-size: 14px;
            font-family: Quicksand;
        }
        
        .box-welcome {
            text-align: right;
            height: 100%;
        }
        
        .box-user {
            display: flex;
            flex-direction: column;
        }
        
        .image-user {
            width: 48px;
            height: 30px;
        }
        
        .img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
        /*corpo abaixo do header dividido em 2 partes(right e left)*/
        
        .container-body {
            display: flex;
            flex-direction: column;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.05em;
            color: #ED7839;
            justify-content: space-between;
            padding: 20px 40px;
        }
        /*css igual */
        
        .container-first-section {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        
        .first-section-header {
            margin-bottom: 20px;
        }
        /*right*/
        
        .first-section-right {
            display: flex;
            flex-direction: column;
        }
        
        .container-first-section>.first-section-right {
            margin-left: 10px;
        }
        
        .container-buttom {
            background-color: white;
            width: 100%;
            height: 31px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .box-download {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #ED7839;
            color: white;
            padding: 0 5px;
            width: 120px;
            border-radius: 4px;
        }
        
        .box-download>svg {
            display: flex;
            border-radius: 4px;
            width: 19px;
            height: 19px;
        }
        
        .box-download>span {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding-left: 5px;
        }
        
        .box-favorite {
            display: flex;
            background: #ED7839;
            border-radius: 4px;
            width: 43px;
            height: 31px;
            align-items: center;
            justify-content: center;
        }
        
        .box-favorite>svg {
            display: flex;
            border-radius: 4px;
            width: 19px;
            height: 19px;
        }
        
        .box-doi {
            display: flex;
            background: #ED7839;
            border-radius: 4px;
            width: 43px;
            height: 31px;
            align-items: center;
            justify-content: center;
        }
        
        .citacao {
            display: flex;
            flex-direction: column;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            letter-spacing: 0.05em;
            height: 25px;
            width: 239px;
            color: #ED7839;
        }
        
        .container-items {
            display: flex;
            flex-direction: column;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            border-radius: 3px;
            width: 100%;
            height: 100%;
        }
        
        .detalhes-header {
            display: flex;
            flex-direction: column;
            background: #FDF1EB;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            border-radius: 3px 3px 0px 0px;
            width: 242px;
            height: 45px;
            text-align: left;
            width: 100%;
            padding: 11px 9px 15px;
        }
        
        .detalhes-conteudo {
            display: flex;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0.02em;
            padding: 15px;
            height: 100%;
            color: #5C5C5C;
        }
        /*left*/
        
        .first-section-left {
            display: flex;
            flex-direction: column;
        }
        
        .container-first-section>.first-section-left {
            margin-right: 10px;
        }
        
        .container-video {
            background: rgba(141, 53, 6, 0.5);
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            width: 783px;
            height: 439px;
            margin-bottom: 5px;
        }
        /*second-section*/
        
        .container-second-section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .menu-header-resumo {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 45px;
            background: #FDF1EB;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            border-radius: 3px 3px 0px 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            align-items: flex-start;
            color: #4E4E4E;
            justify-content: center;
            padding: 10px 15px;
        }
        
        .resumo-description {
            display: flex;
            width: 100%;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.02em;
            color: #5C5C5C;
            padding: 15px;
        }
        /*terceira sessao*/
        
        .third-section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .container-discussao {
            display: flex;
            flex-direction: column;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        
        .menu-header-discussao {
            display: flex;
            width: 100%;
            height: 45px;
            background: #FDF1EB;
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            border-radius: 3px 3px 0px 0px;
            padding: 10px 15px;
            margin-bottom: 15px;
        }
        
        .discussao-body {
            display: flex;
            flex-direction: row;
            width: 300px;
            height: 50px;
            justify-content: space-between;
            align-content: center;
            margin-top: 15px;
        }
        
        .discussao-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 35px;
            padding-bottom: 30px;
            text-align: center;
        }
        
        .discussao-container-btn {
            display: flex;
            width: 100%;
            flex-direction: row;
            border: 1px solid #E7E7E7;
            align-content: center;
            justify-content: center;
            padding-top: 14px;
        }
        
        .discussao-btn {
            position: relative;
            left: 10px;
            right: 43.72%;
            bottom: 30px;
            background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
            border-radius: 4px;
            color: white;
        }
        
        .icons-discussao {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            padding-top: 14px;
        }
        
        .discussao-divisoria {
            width: 1027px;
            height: 0px;
            left: 16px;
            top: 1024px;
            border: 1px solid #E7E7E7;
        }
        
        .discussao-topicos {
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            box-sizing: border-box;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            justify-content: left;
            align-content: center;
            padding: 17px 24px;
            margin-top: 17px;
        }
        
        .topicos-footer {
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 200px;
            align-items: center;
            justify-content: space-between;
        }
        
        .footer {
            display: flex;
            width: 100%;
            justify-content: right;
            margin-top: 30px;
        }